.page-section {
    margin: 40px;
    border: 2px dashed black;
    padding: 0 20px;

}

.first-section {
    background-color: lightskyblue;
}

.second-section {
    background-color: lightgoldenrodyellow ;
}

.section-title {
    font-size: 24px;
    text-decoration: underline;
}



/* Tic Tac toe */
body{
    background-color: black;
    color:lightgray; 
}
.tic-tac-toe-board {
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid lightgray;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

.tic-tac-toe-cell{
    font-size: 16px;
    width: 24px;
    height: 24px;
    text-align: center;
    border: 2px solid lightgray;
}